
.data_user{
 padding-right:0.7em;
 display:flex;
 flex-direction:column;
 align-items: flex-end;
 margin-right: 2px;
}

.txt_welcome{
font: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #333333;

}

.txt_email{
font: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #333333;
}

.user{
  display:flex;
  align-items:center;
  margin:10px;
}


.foto{
background: #F5F5F5;
border: 1px solid #F5F5F5;
box-sizing: border-box;
border-radius:50em;
height:45px;
width:45px;
margin-right:30px;
}

.div_text_top_header{
  margin-left:40px;
}

.div_top_user{
  position: absolute;
  margin-right: 40px;
  right:0;
  display:flex;
  align-items: center;
}

.txt1{
    font: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #725C5C;
    text-align: left;
}

.txt2{
    font: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #725C5C;
    text-align: left;
}

.txt3{
    font: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #725C5C;
    text-align: left;
}

.main_title{
   position:absolute;
   display:flex;
  }


  
.user {
    position:absolute;
    display:flex;
    top:0;
    right:0;
    text-align:left;
  }

#headeright{
    background:#FDF1EB;
    display:grid;
    

    position:relative;
    margin-left:auto;

    max-width: 1146px;
    height:68px;
  }

  #headercenter{
    background:#FDF1EB;
    display:grid;
    

    position:relative;
    margin-left:auto;
    margin-right:auto;

    max-width: 1146px;
    height:68px;
  }

  
/* Tablet em retrato a paisagem e desktop */
@media (min-width: 320px) and (max-width: 480px) {

#header{

    position:absolute;

    background:#FDF1EB;
    display:block;
    flex-direction: column;
  
    margin:auto;
    height:auto;
    
    width:100%;
  }


.main_title{
    background:white;
    position:absolute;
    display: flex;
    flex-direction: row;

    top:0px;
    margin-top:85px;
    padding-top:5px;
    padding-bottom:5px;
    margin-left:0px;
    margin-right:0px;

    height: auto;
    width:100%;
    border-top: solid rgb(0, 0, 0, 0.1);
    border-width:1px;

   }

 .div_text_top_header{
    /*background:black;*/
    position: relative;
    
    display: block;
    margin: 0 auto;
    padding-left:10px;
    padding-right:10px;
    width:100%; 
  }

.txt1{

    background:white;
    position: relative;
    display:flex;
    
    font: Roboto;
    
    color: #725C5C;
    
    margin: 0px;
    width:100%;
}

.txt2{
  position:relative;

  font: Roboto;
  

  color: #725C5C;
  
  background:white;

  margin: 0px;
  width:100%;
}

.txt3{
  font: Roboto;
  

  color: #725C5C;
  
  background:white;

  margin: 0px;
  width:100%;

}

.div_top_user{

 /*background:yellow;*/
  position:absolute;

  top:0;
  
  display:flex;
  width: 100%;
  margin:0px;
  margin-top:27px;

  align-items: center;
  justify-content: center;
}

.user{
  position: relative;
  display:flex;
  background:green;
  margin:0px;
  width: 100%;
}

.data_user{
  position:absolute;
  display:flex;
  flex-direction:column;
  width: 100%;
  margin:0px;
  text-align:right;
 }

.txt_welcome{
  /*background:white;*/
  font: Quicksand;
  font-size:12px;
  color:white;
  width: 80%;
  margin:0px;
  }
  
.txt_email{
  /*background:white;*/
  font: Quicksand;
  font-size: 10px;
  color: white;
  margin:0px;
  width: 90%;
  
  }


  /************************************************/
  .language select{

    background:none;
    padding: 0em 0em 0em 1em;
  
    border-color:white;

    color:white;
    
    font: Quicksand;
    font-size:10px;
     
    appearance: none; 
    outline:none;

    border-radius:4px;
  
    width:70px;
    height: 25px;

    margin:0px;

  }


  .language select:hover{
    background-color: none;
    color:black;
    border-color:black;
  }

  .language{
    position: relative;
    margin-left:50px;
  }

option{
    background-color:white;
    border-radius:30px;
  }

.custom-arrow::before,
.custom-arrow::after{
  --size:5px;
  content:'';
  position:absolute;
  width:0;
  height:0;
  
}

.custom-arrow::before{
  border-left:var( --size) solid transparent;
  border-right:var( --size) solid transparent;
  border-top:var( --size) solid white;
  top:40%;
}

.custom-arrow{
  top:0;
  right:0;
  position: absolute;
  display:block;
}



/*******************************************************************************/
.foto{
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  border-radius:2em;
  height:40px;
  width:40px;
  margin:0px;
  margin-right:10px;
  }
  
}