.div_topico{

    position: relative;
    display:block;
    flex-direction:column;
    width:1028px;
    margin-left:15px;
    margin-bottom: 30px;
    margin-right: auto;

    border-bottom: 1px solid rgb(0,0,0,0.2);
    background:none;

    
    padding-top: 20px;
    padding-bottom: 40px;

    align-items: center;
    justify-content: center;

}

.div_txt_topico{

    padding-bottom: 1px;
    font: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5C5C5C;
}

.txtAreaAssunto{
    display:flex;
    vertical-align: middle;
    width:1025.52px;
    height:39px;
    margin:auto;
    line-height:39px;
    padding-left: 23.13px;
}

b{
    display:flex;
    font: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ED7839;
    padding-bottom: 2px;
    }


.txtAreaConteudo{

    display:flex;
    overflow: hidden;
    vertical-align: middle;
    width:1025.52px;
    margin:auto;
    padding: 23.13px;
    min-height: 114px;
    padding-bottom:55px;

    font: Quicksand;
    font-style: normal;
    font-weight:auto;

}


.txtAreaConteudobold{
    
    font-weight:bold;

}

.txtAreaConteudoitalico{
    font-style: italic;
}



textarea{
    outline:none;
    resize:none;
    overflow-y: hidden;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-size: 14px;
    color: #4D4D4D;   
}

.div_Estilo_txt{
    position:absolute;
    bottom:0;
    display:flex;
    flex-direction:row;
    width:1023px;
    height: 32px;

    margin-left:2.5px;
    margin-right: auto;

    margin-bottom:41px;
    

    background: hsl(187, 24%, 93%);
    border-top: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 0px 0px 3px 3px;
    align-items: center;
}

.div_Img_1{
    margin-left:25px;
    margin-right:20px;
}

.div_Img_2{
    margin-left:15px;
    margin-right:20px;

}
.btn_enviar{
    position: absolute;
    display: flex;
    bottom:0;
    right:0;
}