.resumo{
    min-width: auto;
    max-width:1028px;
    min-height:114px;
    max-height: auto;
    justify-items: center;
    align-items: center;
}

h1{

    padding-left: 15px;
    width:1056px;
    height:45px;
    background: #FDF1EB;
    border-radius: 3px 3px 0px 0px; 
    font: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #4E4E4E;
}

.div_Txt{
    width:1028px;
    min-height:114px;
    max-height:auto;
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 15px;
    margin-right:auto;
    

    align-items: center;
    text-align:justify;
    background:none;
}

.btnLookMore{

    font: Quicksand;
    
    font-style: normal;
    font-weight:700;
    
    font-size: 14px;
    line-height: 23px;
    letter-spacing:22,75px;

    color: #ED7839;

}

.mais{
    display:block;
}

.menos{
    display:none;
}

